name: "challenge"
description: "Default nsjail configuration for pwnable-style CTF task."

mode: ONCE
uidmap {inside_id: "1000"}
gidmap {inside_id: "1000"}

# jail config
cwd: "/chal"
hostname: "challenge"
# redirect stdin/stdout/stderr to /dev/null
silent: true

clone_newnet: false

# limits
mount_proc: false
time_limit: 600
cgroup_mem_max: 67108864
cgroup_pids_max: 16
cgroup_cpu_ms_per_sec: 50

use_cgroupv2: true
cgroupv2_mount: "/sys/fs/cgroup/nsjail"

mount: [
  {
    src: "/home/ctf/chal"
    dst: "/chal",
    is_bind: true,
    rw: false
  },
  {
    src: "/home/ctf/kctf"
    dst: "/kctf",
    is_bind: true,
    rw: false
  },
  {
    src: "/home/ctf/nix"
    dst: "/nix",
    is_bind: true,
    rw: false
  },
  {
    src: "/bin",
    dst: "/bin",
    is_bind: true,
    rw: false
  },
  {
    src: "/lib",
    dst: "/lib",
    is_bind: true,
    rw: false
  },
  {
    src: "/lib64",
    dst: "/lib64",
    is_bind: true,
    rw: false
  },
  {
    src: "/usr",
    dst: "/usr",
    is_bind: true,
    rw: false
  }
]
